//Variables Altura
$heightMain: calc(100vh - 50px);



//Variables Color
$colorUno: black;
$colorDos: rgba(50, 50, 106, 0.837);
$colorTres: rgb(248, 9, 9);
$colorCuatro: #4267B2;
$colorCinco: #0072b1 ;
$colorSeis: whitesmoke