@import "variables";
@import "reset";
@import "mixins";



/* Colores de Fondo */
.bg-personalizado {
    @include background-color($colorUno)
}

.bg-personalizado2 {
    @include background-color($colorDos)
}



/* Colores de Fuente */
.color-font {
    @include colorFont($colorTres);
}

.color-font2 {
    @include colorFont($colorSeis);
    font-size: x-large;
}

/* Color de loguitos */
.color-imgs {
    @include background-color($colorCuatro);
}

.color-ln {
    @include background-color($colorCinco);
}



/* Color de botones */
.btn-personalizado {
    @include background-color($colorDos);
}



/* Fuente Personalizada */
.font{
    font-family: 'Dancing Script', cursive;
}



/* Tamaño de fuente */
.font-size-personalizado {
    font-size: xx-large;
}


