@import "variables";
@import "reset";
@import "mixins";



/* Colores de Fondo */
.bg-personalizado {
    @include background-color($colorUno)
}

.bg-personalizado2 {
    @include background-color($colorDos)
}



/* Colores de Fuente */
.color-font {
    @include colorFont($colorTres);
}

.color-font2 {
    @include colorFont($colorSeis);
    font-size: x-large;
}

/* Color de loguitos */
.color-imgs {
    @include background-color($colorCuatro);
}

.color-ln {
    @include background-color($colorCinco);
}



/* Color de botones */
.btn-personalizado {
    @include background-color($colorDos);
}



/* Fuente Personalizada */
.font{
    font-family: 'Dancing Script', cursive;
}



/* Tamaño de fuente */
.font-size-personalizado {
    font-size: xx-large;
}


.bodyMenu {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}
  
#menu {  
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
}
  
#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
    text-decoration: none;
}
  
#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}
  
#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}
  
#menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
}
  
#menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
}

  
#menu-background-pattern {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%, 
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: 1;
}
  
#menu-background-image {
    background-image: url("https://images.unsplash.com/photo-1605379399642-870262d3d051?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1812&q=80");
    background-position: center 40%;
    background-size: 110vmax;
    height: 100%;
    left: 0px;  
    opacity: 0.15;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease,
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100%;
    z-index: 0;
}
  
#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}
  
#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.1;
}
  
#menu-items:hover > .menu-item {
    opacity: 0.3;
}
  
#menu-items:hover > .menu-item:hover {
    opacity: 1; 
}
  
.menu-item {
    color: white;
    cursor: pointer;
    display: block;
    font-family: 'Ibarra Real Nova', serif;
    font-size: clamp(3rem, 8vw, 8rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
}
